h1{
  color: Blue;
}

table, th, td {
  border: 1px solid Gray;
}

table{
  position: relative; 
  left:20px;  
}

/* mouse over link */
a:hover {
  color: cyan;
}

i{
  color: red;
}

img {
  width: 20%;
}